<h1>Task <%= @task.title %></h1>

<p>detail: <%= @task.detail %>



<br>
<%= link_to 'Edit', edit_task_path(@task)%>
<br>
<%= link_to 'Delete', task_path(@task), method: 'delete', data: { confirm: "Are you sure?" }%>
<br>
<%= link_to "Lista de Tarefas", tasks_path %>
